{% extends 'base.html.twig' %}

{% block meta %}
    {% include "@SuluWebsite/Extension/seo.html.twig" with {
        "seo": event.seo|default([]),
        "content": content|default([]),
        "localizations": localizations|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": app.request.locale
    } %}
{% endblock %}


{% block content %}
        <div class="grid-cols-1 lg:grid-cols-3 grid gap-16 max-w-7xl mx-auto pb-16">
            <div class="px-4 lg:px-4 col-span-2 mt-8">
                <div class="relative mb-10">
                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                        <div class="w-full border-t border-bleu"></div>
                    </div>
                    <div class="relative flex justify-start">
                            <span class="pr-6 bg-white text-2xl uppercase font-light text-gray-900">
                             {{ event.name }}
                                {% if event.endDate == null %}
                                    <p class="text-magenta pb-4 text-base">{{ event.startDate|date('d/m/Y') }}</p>
                {% else %}
                                    <p class="text-magenta pb-4 text-base">{{ "from"|trans }} {{ event.startDate|date("d/m/Y") }} {{ "to"|trans }} {{ event.endDate|date("d/m/Y") }}</p>
                                {% endif %}
                            </span>
                    </div>
                </div>

                {% if event.image is not empty %}
                    <div class="item-image mb-10">
                        {% set media = sulu_resolve_media(event.image.id, 'fr') %}
                        <img class="w-full rounded-lg" src="{{ media.thumbnails['600x400'] }}" alt="" width="1310" height="873">
                    </div>
                {% endif %}

                <div class="content prose max-w-none">
                    {{ event.description|raw }}
                </div>
            </div>
            <div class="px-4 lg:px-0 space-y-8">
                {% include 'includes/actions.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
